<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Terms & Conditions - FindMyDSC</title>
    {% load static %}

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />

    <!-- Helpers -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'assets/js/helpers.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
      p{
        font-size:1rem;
      }
      .row ul{
        padding-left: 4rem;
      }
    </style>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar layout-without-menu">
        <div class="layout-container">


            <!-- Layout container -->
            <div class="layout-page">
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-fluid flex-grow-1 container-p-y" style="padding: 1.625rem 15rem;">
                        <h3 class="fw-bold py-3 mb-4">FindMyDSC</h3>
                        <div class="row mb-5">
                          <div class="col-md-12 mb-3">
                              <div class="card text-center">
                                <h1 class="card-header">Terms & Conditions</h1>
                                <div class="card-body">
                                  <h5 class="card-title"><a href="{% url 'adminSignIn' %}">Home</a> / <a href="{% url 'termsCondition' %}">Terms & Conditions</a></h5>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="row" style="text-align: justify;">
                          <h4>About Us:</h4>
                          <p>Earlier people were used to search a pen for doing signature on any document. With the digitalization the pen is replaced with Digital Signature Certificate (DSC) and now people are searching for their DSC. </p>
                          <p>DSC management has become need of an hour for every professional as well as a business entity. DSC search kills a lot of time and many a times need to pay cost for new DSC. This is a big headache, especially for practising professionals. </p>
                          <p>Our web application is solution for all your problems related to DSC management like DSC location, Expiry Date, handover given to whom. </p>
          
                          <h4>Terms & Conditions:</h4>
                          <p>FINDMYDSC is an online DSC Management software service. Below mentioned terms and conditions will explain FINDMYDSC obligations as a service provider and user obligations as a customer. </p>
                          <p>This Agreement is a legal agreement between you and FINDMYDSC. By accepting electronically, accessing or using the Services, you agree to these terms. If you do not agree to this Agreement, then you may not use the Services. </p>
                          <p>If you are entering into this Agreement on behalf of a FINDMYDSC or other legal entity, you represent that you have the authority to bind such entity and its affiliates to these terms and conditions as its authorized representative and its affiliates as well as you. If the legal entity that you represent does not agree with these terms and conditions, you must not accept this Agreement, register, and use or access the Services as an authorized representative. </p>
                          <p>FINDMYDSC has the right to make amendments or add to the terms of this Agreement at any time, and to change, delete, discontinue, or impose conditions on any feature. Our Terms & Conditions may get updated from time to time in the future. You agree to review our Terms & Conditions regularly by visiting this page. Your continuous access or use of this service will mean that you agree to the changes in Terms & Conditions. You will be notified of any significant changes to our Terms & Conditions. </p>
          
                          <h4>Use of Software:</h4>
                          <p>FINDMYDSC allows user the right to access and use the services through the website with the particular user roles available to users according to their subscription type. This right is non-transferable, non-exclusive and limited by and subject to this Agreement. User acknowledge and agree that, subject to any applicable written agreement between the subscriber and the invited users/ Sub User or any other applicable laws:</p>
                          <ul>
                            <li><p>the subscriber determines who is an invited user and what level of user role access to the relevant organization and services that invited user has;</p></li>
                            <li><p>the subscriber is responsible for all invited users’ use of the services;</p></li>
                            <li><p>the subscriber controls each invited user’s level of access to the relevant organization and services at all times and can revoke or change an invited user’s access, or level of access, at any time and for any reason, in case that person or entity will cease to be an invited user or shall have that different level of access, as the case may be;</p></li>
                            <li><p>if there is any dispute between a subscriber and an invited user regarding access to any organization or services, the subscriber shall decide what access or level of access to the relevant data or service that invited user shall have, if any.</p></li>
                          </ul>
          
                          <h3>User Obligations</h3>
                          <h4>Subscription Fees and Payments:</h4>
                          <ul>
                            <li><p>All subscription fees are payable in advance.</p></li>
                            <li><p>All subscription fees are non-refundable, non-transferable, and non-cancellable.</p></li>
                            <li><p>FINDMYDSC reserves the right to modify subscription fees.</p></li>
                          </ul>
          
                          <h4>General obligations:</h4>
                          <p>It is responsibility of the Users that uses the services for users’ own lawful/legitimate internal business purposes, in accordance with these Terms and any notice sent by FINDMYDSC or condition posted on the Website.</p>
          
                          <h4>Access conditions:</h4>
                          <p>User’s responsibility is to that all usernames and passwords required to access the Service are kept secure and confidential. User must immediately notify FINDMYDSC of any unauthorized use of their passwords or any other breach of security and FINDMYDSC will reset user password and User must take all other actions that FINDMYDSC reasonably deems necessary to maintain or enhance the security of FINDMYDSC computing systems and networks and user access to the Services.</p>
                          <p>As a condition of these Terms, when accessing and using the Services, user must:</p>
                          <ul>
                            <li><p>not attempt to undermine the security or integrity of FINDMYDSC computing systems or networks or, where the Services are hosted by a third party, that third party's computing systems and networks;</p></li>
                            <li><p>not use, or misuse or wrong use, the Services in any way which may impact the functionality of the applications, Services or Website, or any other systems used to deliver the Services or Website or impact the ability of any other user to use the Services or Website;</p></li>
                            <li><p>should not try to attempt or miss attempt to gain or try to gain unauthorized access to any materials other than those to which user have been given express rights to use or access or to the computer system/server on which the Services are hosted;</p></li>
                            <li><p>should not try to transmit, or input into the Services or Website, any: files or information or inputs or applications or software that may damage any other person's computing devices or software, content that may be offensive, or material or Data in violation of any law (including Data or other material protected by copyright or trade secrets which user do not have the right to use); and</p></li>
                            <li><p>should not try to attempt to modify, copy, adapt, reproduce, assemble, disassemble, collaborate, decompile or engineer or reverse engineer any computer programs used to deliver the Services or to operate the Website except as is strictly/mandatorily required to use/consume either of them for normal operation.</p></li>
                          </ul>
          
                          <h3>Intellectual Property</h3>
                          <h4>General:</h4>
                          <p>Brand Name, Logo, Tagline, Title to, and all Intellectual Property Rights in the Services, the Website and any documentation, communication, advertisement, relating to the Services remain the property of FINDMYDSC (or its licensors as the case may be)</p>
          
                          <h4>Ownership of Data:</h4>
                          <p>Data, Title to and all Intellectual Property Rights in, the Data remain user property. User access to the Data is however, contingent on full payment of the FINDMYDSC Access Charge or Fee when due or accrue. User by subscribing to the services and accepting to the terms, grant FINDMYDSC a license to use, arrangement, process, copy, transmit, store, and back-up their information and Data for the purposes of enabling user to access and use the Services and for any other purpose related to provision of services to User.</p>
          
                          <h4>Backup of Data:</h4>
                          <p>User at its own end must maintain copies, repository of all Data inputted, entered, migrated into the Service. FINDMYDSC ensure adherence to its best practice policies and procedures to prevent data loss, including a system data back-up regime, assure but does not make any guarantees that there will be no loss of Data. FINDMYDSC expressly excludes liability for any loss of Data no matter how caused.</p>
          
                          <h4>Third-party applications and user Data:</h4>
                          <p>If user enable third-party applications by accepting or agreeing to their services, for use in conjunction with the Services, user acknowledge that FINDMYDSC may allow the providers of those third-party applications to access user Data as required for the interoperation of such third-party applications with the Services. FINDMYDSC shall not be responsible for any disclosure, modification or deletion of User Data resulting from any such access by third-party application providers.</p>
          
                          <h4>No warranties:</h4>
                          <p>FINDMYDSC assures you to provide best services, however, does not give any warranty about the solutions. The solutions are designed keeping in view of the purpose of common use and not for any specific services until unless designed specifically. Without limiting the above, FINDMYDSC does not warrant or confirm that the solutions will meet user whole requirements/ requirements/ or partial requirement or that it will be suitable for any particular purpose. To avoid doubt, all implied conditions or warranties are excluded in so far as is permitted by law, including (without limitation) warranties of merchantability, fitness for purpose, title, and non-infringement.</p>
          
                          <h4>Limitation of Liability</h4>
                          <ul>
                            <li><p>To the maximum extent permitted by law, FINDMYDSC excludes all liability and responsibility to User (or any other person) in contract, tort (including negligence), or otherwise, for any loss (including loss of information, Data, profits, and savings) or damage resulting, directly or indirectly, from any use of, or reliance on, the Service or Website.</p></li>
                            <li><p>If user suffer loss or damage because of FINDMYDSC negligence or failure to comply with these Terms, any claim by user against FINDMYDSC arising from FINDMYDSC negligence or failure will be limited in respect of any one incident, or series of connected incidents, to the Access Charge paid by User in the previous 12 months.</p></li>
                            <li><p>If User are not satisfied with the Service, User sole and exclusive remedy is to terminate these Terms in accordance with the Termination Clause under this agreement.</p></li>
                          </ul>
          
                          <h5>Termination</h5>
                          <h4>Trial policy:</h4>
                          <p>Upon User sign up first time for access to the Services user can evaluate the Services under the defined trial usage conditions, with no obligation to continue to use the Services. The trial period is defined by FINDMYDSC on its sole discretion and FINDMYDSC has all the right to change/abolish/amend/alter the same without any notice.</p>
          
                          <h4>Account Deletion Policy:</h4>
                          <p>If user chooses to continue using the Services after the trial period, user will be billed by adding their billing details into the Services, as set out in detail in the Price Schedule. If User choose not to continue using the Services, user may delete their organization from the Dashboard of the Services at any time.</p>
          
                          <h4>Refund Policy</h4>
                          <p>Any Charges paid Monthly, Quarterly, Half Yearly or Yearly are Non-Refundable.</p>
          
                          <h5>Confidentiality and Privacy</h5>
                          <h4>Privacy Policy</h4>
                          <p>FINDMYDSC is committed to safeguarding your privacy and ensuring the protection of your information. As the creator of this Privacy Policy, we are dedicated to transparently outlining our practices concerning the collection, use, and disclosure of your personal information. Your continued use of our services signifies your acceptance of the terms outlined herein.</p>
                          <p>We reserve the right to amend our Terms and Privacy Policy at our discretion without prior notice. Your continued usage of our services indicates your acceptance of any changes made to these terms. It is advised that you review the Terms of Service periodically. Should you disagree with any modifications, kindly discontinue using our website and associated services immediately.</p>
          
                          <h4>Confidentiality:</h4>
                          <ul>
                            <li><p>Each party to this agreement shall ensure the confidentiality of all Confidential Information classified or not of the other obtained in connection with these Terms. Neither party shall, without the prior written consent of the other party, disclose or make public or make any Confidential Information available to any person.</p></li>
                            <li><p>FINDMYDSC has right to access the information and database for improvement in website and service and further updates.</p></li>
                          </ul>
          
                          <h4>Consent to Contact:</h4>
                          <p>By providing your phone number on our website, you consent to receiving communications regarding our products and services, including promotional offers. This overrides registration on the National Do Not Call (DNC) registry in India. You may opt-out of receiving telemarketing calls at any time.</p>
          
                          <h4>Cookies:</h4>
                          <p>We utilize cookies on our website to enhance user experience and provide personalized services. Cookies assist in providing targeted information and are employed regardless of user registration.</p>
          
                          <h4>External Links:</h4>
                          <p>Our website may contain hyperlinks to third-party websites or resources. We do not endorse or control the content on external sites, and we are not liable for any loss or damage resulting from their use. Third-party websites may have their own privacy policies governing data collection and usage.</p>
          
                          <h4>Confidentiality:</h4>
                          <p>Information designated as confidential shall not be disclosed without prior consent. Your information is treated as confidential and will not be shared except as outlined in this policy.</p>
          
                          <h4>Disclosure of Information:</h4>
                          <p>We may disclose your personal information to:</p>
                          <ul>
                            <li><p>Companies collaborating to offer additional products or services</p></li>
                            <li><p>Affiliates and business partners</p></li>
                            <li><p>Law enforcement agencies and government officials</p></li>
                            <li><p>Third-party advertisers for marketing purposes</p></li>
                          </ul>
          
                          <h4>Accessing and Changing Profile:</h4>
                          <p>Registered users can review and modify their information. Old information may be retained for dispute resolution and troubleshooting purposes.</p>
          
                          <h4>Control of Password:</h4>
                          <p>Users are responsible for maintaining password confidentiality and preventing unauthorized access. Immediate password change is recommended if compromised.</p>
          
                          <h4>Other Information Collectors:</h4>
                          <p>Third parties may have different privacy policies. Users are encouraged to inquire about privacy practices before disclosing personal information.</p>
          
                          <h4>Disclaimer:</h4>
                          <p>While we strive to protect your privacy, we cannot guarantee absolute confidentiality. Users assume responsibility for their online activities.</p>
          
                          <h4>Contact Details:</h4>
                          <p>For any support or query, please contact findmydsc@gmail.com</p>
                          <p>FINDMYDSC Name: FINDMYDSC</p>
                        </div>
                      </div>
                    <!-- / Content -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->


    <script src="{% static 'assets/js/menu.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>