{% extends base %}
{% block masterActive %} active open {% endblock masterActive %}
{% block groupActive %} active {% endblock groupActive %}
{% block title %} Update Group - FindMyDSC {% endblock title %}
{% block container %}
<!-- Bordered Table -->
<div class="card">
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="bx bx-menu bx-sm"></i>
    </a>
  </div>
  <h3 class="card-header">Update Group</h3>
  <div class="card-body">
    <form action="{% url 'updateGroup' group.groupID %}" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="mb-3 col-md-6">
          <label class="form-label">Group Name</label>
          <input class="form-control" type="text" name="groupName" value="{{group.groupName}}" required/>
        </div>
        <div class="mt-2">
          <button type="submit" class="btn btn-primary me-2">Save changes</button>
          <button type="reset" class="btn btn-outline-secondary">Reset</button>
        </div>
    </form>
  </div>
</div>
<div class="card">
  <h4 class="card-header">Group History</h4>
  <div class="card-body">
      <div class="table-responsive mt-3" style="max-height: calc(100vh - 199px);min-height: 5rem;">
        <table class="table table-bordered" id="myTable">
          <thead class="sticky-top bg-white">
            <tr>
              <th style="min-width: 9rem;width: 12rem;">Group Name</th>
              <th style="min-width: 10rem;width: 10rem;">Modified By</th>
              <th style="width: 11rem;min-width: 10rem;">Modified Date</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groupHistory %}
            <tr>
              <td>{{group.groupName}}</td>
              <td>{{group.userID.userName}}</td>
              <td>{{group.groupModifiedDate|date:"d-m-Y H:i:s"}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>

<!--/ Bordered Table -->
{% endblock container %}