{% extends base %}
{% if subAdmin %}
{% block myProfileActive %} active open{% endblock myProfileActive %}
{% block adminActive %} active {% endblock adminActive %}
{% endif %}
{% block passActive %} active {% endblock passActive %}
{% block title %} Update Password - FindMyDSC {% endblock title %}

{% block container %}

<div class="row">
  <div class="col-12">
    {% if subAdmin %}
    <ul class="nav nav-pills flex-column flex-md-row mb-3">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'updateProfile' %}"><i class="bx bxs-user me-1"></i> Profile
            Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'subscriptionDetails' %}"><i class="bx bxs-bell me-1"></i> Subscription
            Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'updatePassword' %}"><i class="bx bxs-key me-1"></i> Update
            Password</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'exportData' %}"><i class="bx bxs-file-export me-1"></i> Export Data</a>
    </li>
    </ul>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card mb-4">
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
          <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)"><i class="bx bx-menu bx-sm"></i></a>
        </div>
        <h5 class="card-header">Update Password</h5>
        <!-- Account -->
        <div class="card-body">
          <form action="{% url 'updatePassword' %}" method="POST" id="myForm">
            {% csrf_token %}
            <div class="row">
              <div class="mb-3 col-md-12 form-password-toggle">
                <label class="form-label">Current Password</label>
                <div class="input-group input-group-merge">
                  <input type="password" class="form-control" name="oldPassword"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="password" autofocus/>
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
              </div>
              <div class="mb-3 col-md-12 form-password-toggle">
                <label class="form-label">New Password</label>
                <div class="input-group input-group-merge">
                  <input type="password" class="form-control" name="newPassword" oninput="validateField(this)"
                    id="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="password" />
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
                <span id="passwordError" class="error-message"></span>
              </div>
              <div class="mb-3 col-md-12 form-password-toggle">
                <label class="form-label">Confirm Password</label>
                <div class="input-group input-group-merge">
                  <input type="password" class="form-control" name="confirmPassword" oninput="validateField(this)"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="password" />
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
              </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Save Changes</button>
                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock container %}