{% extends 'base/superAdminBase.html' %}
{% block feedbackActive %} active {% endblock feedbackActive %}
{% block title %} Feedback Report - FindMyDSC {% endblock title %}
{% block container %}
<!-- Bordered Table -->
<div class="card">
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)"><i class="bx bx-menu bx-sm"></i></a>
  </div>
  <h3 class="card-header">User Feedback</h3>
  <div class="card-body">
    <div class="d-flex align-items-center" id="navbar-collapse">
      <!-- Search -->
      <div class="align-items-center">
        <div class="input-group input-group-merge" style="width: 22rem;">
          <span class="input-group-text"><i class="bx bx-search"></i></span>
          <input type="text" class="form-control" placeholder="Search..." id="search" onkeyup="filterSearchOthers()" />
        </div>
      </div>
      <div style="margin-left: 2rem;">
        <span id="rowCount"></span><span style="margin-left: .5rem; font-weight:100; font-size:small;">entries
          found</span>
      </div>
      <!-- /Search -->

    </div>
    <div class="table-responsive mt-3" style="max-height: calc(100vh - 199px);min-height: 5rem;">
      <table class="table table-bordered" id="myTable">
        <thead class="sticky-top bg-white">
          <tr>
            <th onclick="sortTable(0)" style="width: 18rem;">Company</th>
            <th onclick="sortTable(1)" style="width: 10rem;">Rating</th>
            <th onclick="sortTable(2)">Review</th>
          </tr>
          <tr>
            <td>
              <input class="form-control" placeholder="Search..." type="search" onkeyup="filterSearchOthers()" data-col="0" />
            </td>
            <td>
              <select class="form-control" style="padding: .4rem 1.2rem;" onchange="filterSearchOthers()" data-col="1">
                <option value="">All</option>
                <option value="1">1 star</option>
                <option value="2">2 star</option>
                <option value="3">3 star</option>
                <option value="4">4 star</option>
                <option value="5">5 star</option>
              </select>
            </td>
            <td>
              <input class="form-control" placeholder="Search..." type="search" onkeyup="filterSearchOthers()" data-col="2" />
            </td>
          </tr>
        </thead>
        <tbody>
          {% for feedback in feedbacks %}
          <tr>
            <td>{{feedback.subAdminID.subAdminEmail}}</td>
            <td>{{feedback.rating}}</td>
            <td>{{feedback.feedbackText}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- / Bordered Table -->

{% endblock %}